<div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
                <div class="col-lg-8">
                        <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                        <form name="form_datos_cliente" class="form-horizontal" ng-submit="guardaDatos()">
                                            <tabset>
                                                <tab heading="Datos generales">
                                                        <br>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Nombre del evento</label>
                                                            <div class="col-sm-9"><input type="text" tabindex=1 class="form-control" ng-model="evento.nombre" required></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Descripci&oacute;n corta</label>
                                                            <div class="col-sm-9"><input type="text" tabindex=2 class="form-control" ng-model="evento.descripcion" required></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Fechas (Descripci&oacute;n)</label>
                                                            <div class="col-sm-9"><input type="text" tabindex=3 class="form-control" ng-model="evento.fechas_evento" required></div>

                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Ubicaci&oacute;n</label>
                                                            <div class="col-sm-9"><input type="text" tabindex=3 class="form-control" ng-model="evento.ubicacion" required></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Fechas (interno de la aplicacion)</label>

                                                            <div class="col-sm-9">
                                                                <div class="row">
            
                                                                    <div class="col-md-1" style="padding-left:0;">
                                                                            <label class="col-sm-2 control-label">Inicio</label>
                                                                    </div>
            
                                                                    <div class="col-md-4">
                                                                        <div class="input-group date">
                                                                            <input class="form-control" ui-date="dateOptions" ng-model="evento.fecha_inicio" required>
                                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                        </div>
                                                                    </div>
            
                                                                    <div class="col-md-1" style="padding-left:0;">
                                                                            <label class="col-sm-2 control-label">Cierre</label>
                                                                    </div>
            
                                                                    <div class="col-md-4">
                                                                        <div class="input-group date">
                                                                            <input class="form-control" ui-date="dateOptions" ng-model="evento.fecha_cierre" required>
                                                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                        </div>
                                                                    </div>
            
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Activo</label>
                                                            <div class="col-sm-9"><input ng-if="evento.activo!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" checked ng-model="evento.activo"/></div>
                                                            
                                                        </div>

                                                </tab>

                                                <tab heading="Contenido">
                                                        <div style="height:650px;">
                                                            <div class="full-height-scroll" full-scroll>
                                                                <div summernote class="summernote" ng-model="evento.contenido"></div>
                                                            </div>
                                                        </div>
                                                </tab>
                                                <tab heading="Im&aacute;genes">
                                                        <br>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Banner del evento</label>

                                                            <div class="col-sm-10">
                                                                <div class="row">
            
                                                                    <div class="col-md-5">
                                                                            <span class="btn btn-info btn-sm btn-labeled btn-file"> 
                                                                            <span class="btn-label"><i class="fa fa-plus"></i></span>Seleccione
                                                                                <input type='file' ng-model='temp.img_principal' base-sixty-four-input accept="image/*" maxsize="200">
                                                                            </span>
                                                                            <!-- <span>{{temp.img_principal.filename}}</span> -->
                                                                            <span ng-show="(temp.img_principal.filesize >= 204800)"><p class="text-danger">El archivo no debe exceder los 200 KB</p></span>
                                                                            <img style="margin-top:20px; width:500px;" base-sixty-four-image="temp.img_principal" alt="" ng-src="{{evento.img_principal}}">
                                                                    </div>

                                                                    <div class="col-md-2">
                                                                            <button type="button" class="btn btn-danger" ng-click="borraFoto1()">Borrar imagen</button>
                                                                    </div>
                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Mapa del sitio</label>

                                                            <div class="col-sm-10">
                                                                <div class="row">
            
                                                                    <div class="col-md-5">
                                                                            <span class="btn btn-info btn-sm btn-labeled btn-file"> 
                                                                            <span class="btn-label"><i class="fa fa-plus"></i></span>Seleccione
                                                                                <input type='file' ng-model='temp.img_mapa_sitio' base-sixty-four-input accept="image/*" maxsize="400">
                                                                            </span>
                                                                            <span ng-show="(temp.img_mapa_sitio.filesize >= 409600)"><p class="text-danger">El archivo no debe exceder los 400 KB</p></span>
                                                                            <img style="margin-top:20px; width:500px;" base-sixty-four-image="temp.img_mapa_sitio" alt="" ng-src="{{evento.img_mapa_sitio}}">
                                                                    </div>

                                                                    <div class="col-md-2">
                                                                            <button type="button" class="btn btn-danger" ng-click="borraFoto2()">Borrar imagen</button>
                                                                    </div>
                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                </tab>

                                                <tab heading="Programa">
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                                <button type="button" class="btn btn-sm btn-success" ng-click="agregar_tema()"><i class="fa fa-plus"></i> Agregar nueva fila</button>
                                                            </div>
                                                        </div>
                                                        <div class="gridStyle" ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav ui-grid-auto-resize class="grid_edit_programa"></div> 

                                                </tab>

                                                <tab heading="Video">
                                                        <br>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Video URL</label>
                                                            <div class="col-sm-10">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control" ng-model="evento.url_video">
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-primary btn-labeled" ng-click="verPreview()"><span class="btn-label"><i class="fa fa-search"></i></span>Preview</button>
                                                                            </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Preview</label>
                                                            <div class="col-sm-10">
                                                                <iframe width="485" height="389" ng-src="{{trustSrc(video_preview)}}" frameborder="0" allowfullscreen></iframe>
                                                            </div>
                                                        </div>

                                                </tab>
                                            </tabset>

                                            <div class="hr-line-dashed"></div>
                                            <div class="form-group">
                                                <div class="col-sm-10 col-sm-offset-2">
                                                        <div class="col-md-6">
                                                            <button class="btn btn-default btn-labeled" ng-click="cancelaForm()"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span> Cancelar</button>
                                                        </div>
    
                                                        <div class="col-md-6">
                                                            <button class="btn btn-primary btn-labeled" type="submit" ng-disabled="form_datos_cliente.$invalid"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span> {{txt_boton}}</button>
                                                        </div>
                                                </div>
                                            </div>

                                        </form>
                                </div>
                        </div>
                </div>

        </div>
</div>
