<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-7">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Lista de eventos</h2>

                    <div class="row">
                        <div class="col-sm-2">
                                <div class="mail-tools tooltip-demo m-t-md">
                                        <button class="btn btn-sm btn-primary btn-labeled" data-placement="left" title="Agregar nuevo registro" ng-click="altaRegistro()"><span class="btn-label"><i class="fa fa-plus"></i></span> Agregar</button>
                                </div>
                        </div>
                        <div class="col-sm-10">
                                <div class="input-group" style="margin-top:16px;">
                                    <input type="text" ng-teclaenter="muestraResultadosBusqueda()" placeholder="Escriba el nombre del evento" class="input form-control" ng-model="nombre_buscar" required>
                                            <span class="input-group-btn">
                                                    <button class="btn btn-primary btn-labeled" ng-click="muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar por nombre</button>
                                                    <button class="btn btn-success btn-labeled" ng-click="limpiaBusqueda()" ng-show="mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-times"></i></span> Limpiar</button>
                                            </span>
                                </div>
                        </div>
                    </div>
                    
                    <div class="clients-list">
                            <table class="table table-condensed table-hover">
                              <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Ubicaci&oacute;n</th>
                                    <th>Descripci&oacute;n</th>
                                    <th>Estatus</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="evento in lista_eventos" ng-click="muestraDatosRegistroSeleccionado(evento)"  ng-class="{seleccion:$index==selectedRow}" class="pointer">
                                    <td> {{evento.nombre}}</td>
                                    <td> {{evento.ubicacion}}</td>
                                    <td> {{evento.descripcion}}</td>
                                    <td class="client-status"><span class="label label-{{evento.activo === true ? 'primary' : 'warning'}}">{{evento.activo === true ? 'Activo' : 'Inactivo'}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-5">
                                            <span class="pull-left medium text-muted" style="margin-top:22px;">Mostrando registros del {{(begin+1)}} al {{end}} de un total de {{totalItems}} registros</span>
                                </div>
                                <div class="col-sm-7">
                                        <pagination total-items="totalItems" ng-model="currentPage" previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="&Uacute;ltimo"
                                          max-size="5" boundary-links="true" ng-change="pageChanged()" 
                                          items-per-page="numPerPage" class="pagination-sm pull-right" rotate="false"> 
                                        </pagination>
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ibox ">
        
                <div class="ibox-content" style="height:750px;">
                    <div class="tab-content">
        
                        <div class="tab-pane active" ng-show="client == 1" ng-init="client = 1">
                            <div class="row m-b-lg">
                            <div class="col-lg-10 text-center">
                                <h2>Seleccione un registro para ver los detalles</h2>
                            </div>
                            </div>
        
                            <div class="gimnasios-detail">
                            </div>
                        </div>
        
                        <div class="tab-pane active" ng-show="client == 2">

                                    <div class="row m-b-lg">
                                        <div class="col-md-12" style="text-align:center;">
                                            <p>
                                                <button type="button" ui-sref="index.edita_evento({ id: DatosRegistroActual.id })" class="btn btn-primary btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pencil"></i></span> Editar los datos</button>
                                                <button type="button" ng-show="DatosRegistroActual.activo" ng-click="desactivarRegistro(DatosRegistroActual)" class="btn btn-warning btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pause"></i></span> Desactivar evento</button>
                                                <button type="button" ng-show="!DatosRegistroActual.activo" ng-click="activarRegistro(DatosRegistroActual)" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-play"></i></span> Activar evento</button>
                                                <button type="button" ng-click="eliminaEvento(DatosRegistroActual)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Eliminar evento</button>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="gimnasios-detail">
                                       
                                        <tabset>
                                            <tab heading="Datos generales">
                                                    <br>
                                                    <div>
                                                        <div class="ibox-content no-padding border-left-right" style="width: 481px">
                                                            <img alt="image" class="img-responsive" ng-src="{{DatosRegistroActual.img_principal == '' && 'img/placeholder.png' || DatosRegistroActual.img_principal}}">
                                                        </div>
                                                        <div class="ibox-content profile-content">
                                                            <h3><strong>{{DatosRegistroActual.nombre}}</strong></h3>

                                                            <span class="pull-right" ng-switch on="DatosRegistroActual.activo">
                                                                <span ng-switch-when="true" class="label label-primary">Activo</span>
                                                                <span ng-switch-when="false"class="label label-warning">Inactivo</span>
                                                            </span>                                                                
                                                            <p><i class="fa fa-map-marker"></i> {{DatosRegistroActual.ubicacion}}</p>
                                                            <p><i class="fa fa-calendar"></i> {{DatosRegistroActual.fechas_evento}}</p>

                                                            <div class="panel blank-panel" style="height:290px;">
                                                                <div class="full-height-scroll" full-scroll>
                                                                    <p ng-bind-html="DatosRegistroActual.contenido"></p>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                            </tab>

                                            <tab heading="Programa">
                                                <div class="panel_programa_eventos-detail">
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>Fecha</th>
                                                                <th>Hora</th>
                                                                <th>Actividad</th>
                                                                <th>Ponente</th>
                                                            </tr>
                                                            </thead>
                                                        </table>
                                                    <div class="full-height-scroll" full-scroll>
                                                        <table class="table table-striped">
                                                            <tbody>
                                                            <tr ng-repeat="programa in DatosRegistroActual.programa">
                                                                <td> {{programa.fecha | date:'d/MMMM/yyyy'}}</td>
                                                                <td> {{programa.hora}}</td>
                                                                <td> {{programa.actividad}}</td>
                                                                <td> {{programa.ponente}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </tab>
                                            <tab heading="Mapa del sitio">
                                                 <br>
                                                <div class="panel_programa_eventos-detail">
                                                    <div class="full-height-scroll" full-scroll>
                                                        <img alt="image" class="img-responsive" ng-src="{{DatosRegistroActual.img_mapa_sitio == '' && 'img/placeholder.png' || DatosRegistroActual.img_mapa_sitio}}">
                                                    </div>
                                                </div>
                                            </tab>
                                            <tab heading="Video">
                                                 <br>
                                                <div class="panel_programa_eventos-detail">
                                                    <iframe width="485" height="349" ng-src="{{trustSrc(DatosRegistroActual.url_video)}}" frameborder="0" allowfullscreen></iframe>
                                                </div>
                                            </tab>
                                        <tabset>

                                        
                                    </div>

                                </div>
      
                        </div> <!-- client == 2 -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>