<div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
                <div class="col-lg-7">
                        <div class="ibox float-e-margins">

                                <div class="ibox-content">
                                        <form name="form_datos_carrera" class="form-horizontal" ng-submit="guardaDatos()">
                                            <tabset>
                                                <tab heading="Datos generales">
                                                        <br>
                                                        <div class="form-group"><label class="col-sm-2 control-label">Modalidad</label>

                                                            <div class="col-sm-10">
                                                            <select class="form-control m-b" 
                                                                ng-model="carrera.modalidadId"
                                                                ng-options="modalidad.id as modalidad.nombre for modalidad in modalidades" required>
                                                            </select>

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Nombre carrera</label>
                                                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="carrera.nombre" required></div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">&Iacute;cono</label>

                                                            <div class="col-sm-10">
                                                                <div class="row">
                                                                    <div class="col-md-5">
                                                                            <input type='file' ng-model='temp.icono' base-sixty-four-input accept="image/*" maxsize="150">
                                                                            <span ng-show="form.temp.icono.$error.maxsize">El archivo no debe exceder los 150 KB</span>
                                                                            <img style="margin-top:30px; width:96px;background-color:#1ab394;" base-sixty-four-image="temp.icono" alt="" ng-src="{{carrera.icono}}">
                                                                    </div>

                                                                    <div class="col-md-2">
                                                                            <button type="button" class="btn btn-danger" ng-click="borraFoto()">Borrar imagen</button>
                                                                    </div>
                    
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">Im&aacute;gen principal</label>

                                                            <div class="col-sm-10">
                                                                <div class="row">
                                                                    <div class="col-md-5">
                                                                            <input type='file' ng-model='temp.img_principal' base-sixty-four-input accept="image/*" maxsize="150">
                                                                            <span ng-show="form.temp.img_principal.$error.maxsize">El archivo no debe exceder los 150 KB</span>
                                                                            <img style="margin-top:30px; width:400px;" base-sixty-four-image="temp.img_principal" alt="" ng-src="{{carrera.img_principal}}">
                                                                    </div>

                                                                    <div class="col-md-2">
                                                                            <button type="button" class="btn btn-danger" ng-click="borraFotoPrincipal()">Borrar imagen</button>
                                                                    </div>
                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                </tab>
                                                <tab heading="Contenido">
                                                        <div style="height:450px;">
                                                            <div class="full-height-scroll" full-scroll>
                                                                <div summernote class="summernote" ng-model="carrera.contenido"></div>
                                                            </div>
                                                        </div>
                                                </tab>
                                            </tabset>                                              

                                                <div class="hr-line-dashed"></div>

                                                <div class="form-group">
                                                    <div class="col-sm-10 col-sm-offset-2">
                                                            <div class="col-md-6">
                                                                <button class="btn btn-default btn-labeled" ng-click="cancelaForm()"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span> Cancelar</button>
                                                            </div>
        
                                                            <div class="col-md-6">
                                                                <button class="btn btn-primary btn-labeled" type="submit" ng-disabled="form_datos_carrera.$invalid"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span> {{txt_boton}}</button>
                                                            </div>
                                                    </div>
                                                </div>

                                        </form>
                                </div>
                        </div>
                </div>

        </div>
</div>
