<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-7">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Carreras registradas</h2>

                    <div class="row">
                        <div class="col-sm-2">
                                <div class="mail-tools tooltip-demo m-t-md">
                                        <button class="btn btn-sm btn-primary btn-labeled" data-placement="left" title="Agregar nuevo registro" ng-click="altaCarrera()"><span class="btn-label"><i class="fa fa-plus"></i></span> Agregar</button>
                                </div>
                        </div>
                        <div class="col-sm-10">
                                <div class="input-group" style="margin-top:16px;">
                                    <input type="text" ng-teclaenter="muestraResultadosBusqueda()" placeholder="Escriba el texto a buscar" class="input form-control" ng-model="nombre_buscar" required>
                                            <span class="input-group-btn">
                                                    <button class="btn btn-primary btn-labeled" ng-click="muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar por nombre</button>
                                                    <button class="btn btn-success btn-labeled" ng-click="limpiaBusqueda()" ng-show="mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-times"></i></span> Limpiar</button>
                                            </span>
                                </div>
                        </div>
                    </div>

                    <div class="clients-list">
                            <table class="table table-bordered table-condensed table-hover">
                              <thead>
                                <tr>
                                    <th></th>
                                    <th>Nombre de la carrera</th>
                                    <th>Modalidad</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="carrera in carreras" ng-click="muestraDatosCarreraActual(carrera)" ng-class="{seleccion:$index==selectedRow}" class="pointer">
                                    <td class="client-avatar" style="background-color:#1ab394;"><img alt="image" ng-src="{{(carrera.icono == '' || carrera.icono == undefined) && 'img/placeholder.png' || carrera.icono}}"> </td>
                                    <td> {{carrera.nombre}}</td>
                                    <td> {{carrera.modalidad_pertenece.nombre}}</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-5">
                                            <span class="pull-left medium text-muted" style="margin-top:22px;">Mostrando registros del {{(begin+1)}} al {{end}} de un total de {{totalItems}} registros</span>
                                </div>
                                <div class="col-sm-7">
                                        <pagination total-items="totalItems" ng-model="currentPage" previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="&Uacute;ltimo"
                                          max-size="5" boundary-links="true" ng-change="pageChanged()" 
                                          items-per-page="numPerPage" class="pagination-sm pull-right" rotate="false"> 
                                        </pagination>
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ibox ">
        
                <div class="ibox-content">
                    <div class="tab-content">
        
        
        
                        <div class="tab-pane active" ng-show="client == 1" ng-init="client = 1">
                            <div class="row m-b-lg">
                                <h2>Seleccione un registro para ver los detalles</h2>
                            </div>
        
                            <div class="cat_cursos_detalle">
                            </div>
                        </div>
        
        
                        <div class="tab-pane active" ng-show="client == 2">


                                        <div class="row m-b-lg">
                                            <div class="col-md-12" style="text-align:center;">
                                                <p>
                                                    <button type="button" ui-sref="oferta_ed.edita_carrera({ id: DatosCarreraActual.id })" class="btn btn-primary btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pencil"></i></span> Editar los datos</button>
                                                    <button type="button" ng-click="elimina_carrera(DatosCarreraActual)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Eliminar art&iacute;culo</button>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="panel blank-panel" style="height:700px;">
                                                <div class="full-height-scroll" full-scroll>

                                                        <div>
                                                            <div class="ibox-content no-padding border-left-right" style="width: 481px">
                                                                <img alt="image" class="img-responsive" ng-src="{{(DatosCarreraActual.img_principal == '' || DatosCarreraActual.img_principal == undefined ) && 'img/placeholder.png' || DatosCarreraActual.img_principal}}">
                                                            </div>
                                                            <div class="ibox-content profile-content">
                                                                <h2><strong>{{DatosCarreraActual.nombre}}</strong></h2>
                                                                <h4><strong>{{DatosCarreraActual.modalidad_pertenece.nombre}}</strong></h4>

                                                                <p ng-bind-html="DatosCarreraActual.contenido"></p>

                                                            </div>
                                                        </div>
                                                </div>

                                        </div>
       
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>