<div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
                <div class="col-lg-5">
                        <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                        <form name="form_datos_cliente" class="form-horizontal" ng-submit="guardaDatos()">

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">T&iacute;tulo de la foto</label>
                                                    <div class="col-sm-10"><input type="text" tabindex=1 class="form-control" ng-model="foto.titulo" required></div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Foto</label>


                                                    <div class="col-sm-10">
                                                        <div class="row">
    
                                                            <div class="col-md-5">
                                                                    <span class="btn btn-info btn-sm btn-labeled btn-file"> 
                                                                    <span class="btn-label"><i class="fa fa-plus"></i></span>Seleccione
                                                                        <input type='file' ng-model='temp.foto' base-sixty-four-input accept="image/*" maxsize="200">
                                                                    </span>
                                                                    <span ng-show="(temp.foto.filesize >= 204800)"><p class="text-danger">El archivo no debe exceder los 200 KB</p></span>
                                                                    <img style="margin-top:20px; width:500px;" base-sixty-four-image="temp.foto" alt="" ng-src="{{foto.data}}">
                                                            </div>

                                                            <div class="col-md-2">
                                                                    <button type="button" class="btn btn-danger" ng-click="borraFoto()">Borrar imagen</button>
                                                            </div>
            
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="hr-line-dashed"></div>

                                                <div class="form-group">
                                                    <div class="col-sm-10 col-sm-offset-2">
                                                            <div class="col-md-6">
                                                                <button class="btn btn-default btn-labeled" ng-click="cancelaForm()"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span> Cancelar</button>
                                                            </div>
        
                                                            <div class="col-md-6">
                                                                <button class="btn btn-primary btn-labeled" type="submit" ng-disabled="form_datos_cliente.$invalid"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span> {{txt_boton}}</button>
                                                            </div>
                                                    </div>
                                                </div>


                                        </form>
                                </div>
                        </div>
                </div>

        </div>
</div>
