<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Lista de fotos</h2>

                    <div class="row">
                        <div class="col-sm-2">
                                <div class="mail-tools tooltip-demo m-t-md">
                                        <button class="btn btn-sm btn-primary btn-labeled" data-placement="left" title="Agregar nuevo registro" ng-click="altaRegistro()"><span class="btn-label"><i class="fa fa-plus"></i></span> Agregar</button>
                                </div>
                        </div>
                        <div class="col-sm-10">
                                <div class="input-group" style="margin-top:16px;">
                                    <input type="text" ng-teclaenter="muestraResultadosBusqueda()" placeholder="Escriba el nombre de la foto" class="input form-control" ng-model="nombre_buscar" required>
                                            <span class="input-group-btn">
                                                    <button class="btn btn-primary btn-labeled" ng-click="muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar por nombre</button>
                                                    <button class="btn btn-success btn-labeled" ng-click="limpiaBusqueda()" ng-show="mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-times"></i></span> Limpiar</button>
                                            </span>
                                </div>
                        </div>
                    </div>

                    <div class="clients-list">
                            <table class="table table-condensed table-hover">
                              <thead>
                                <tr>
                                    <th>T&iacute;tulo</th>
                                    <th>Fecha creación</th>
                                    <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="foto in lista_fotos" ng-click="muestraDatosRegistroSeleccionado(foto)"  ng-class="{seleccion:$index==selectedRow}" class="pointer">
                                    <td> {{foto.titulo}}</td>
                                    <td> {{foto.fecha_creacion | date:'d/MMMM/yyyy h:mm a'}}</td>
                                    <td class="client-avatar"><img alt="image" ng-src="{{foto.data == '' && 'img/no_photo.png' || foto.data}}"> </td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-5">
                                            <span class="pull-left medium text-muted" style="margin-top:22px;">Mostrando registros del {{(begin+1)}} al {{end}} de un total de {{totalItems}} registros</span>
                                </div>
                                <div class="col-sm-7">
                                        <pagination total-items="totalItems" ng-model="currentPage" previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="&Uacute;ltimo"
                                          max-size="5" boundary-links="true" ng-change="pageChanged()" 
                                          items-per-page="numPerPage" class="pagination-sm pull-right" rotate="false"> 
                                        </pagination>
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ibox ">
        
                <div class="ibox-content" style="height:750px">
                    <div class="tab-content">
        
                        <div class="tab-pane active" ng-show="client == 1" ng-init="client = 1">
                            <div class="row m-b-lg">
                            <div class="col-lg-10 text-center">
                                <h2>Seleccione un registro para ver los detalles</h2>
                            </div>
                            </div>
        
                            <div class="panel_der-detail">
                            </div>
                        </div>
        
                        <div class="tab-pane active" ng-show="client == 2">

                                        <div class="row m-b-lg">
                                            <div class="col-md-12">
                                                <div class="text-center">
                                                        <div class="col-sm-4 col-sm-offset-1">
                                                            <button type="button" ui-sref="galerias.edita_foto({ id: DatosFotoActual.id })" class="btn btn-primary btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pencil"></i></span> Editar registro</button>
                                                        </div>
                                                        <div class="col-sm-4 col-sm-offset-2">
                                                            <button type="button" ng-click="eliminaFoto(DatosFotoActual)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Eliminar foto</button>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel blank-panel" style="height:500px;">
                                                        <div>
                                                            <div class="ibox-content profile-content">
                                                                <h3><strong>{{DatosFotoActual.titulo}}</strong></h3>
                                                                <p><i class="fa fa-calendar"></i> {{DatosFotoActual.fecha_creacion | date:'d/MMMM/yyyy h:mm a'}}</p>
                                                            </div>
                                                            <div class="ibox-content no-padding border-left-right" style="width: 481px">
                                                                <img alt="image" class="img-responsive" ng-src="{{DatosFotoActual.data == '' && 'img/no_photo.png' || DatosFotoActual.data}}">
                                                            </div>
                                                        </div>
                                        </div>
      
                        </div> <!-- client == 2 -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>