<div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
                <div class="col-lg-5">
                        <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                        <form name="form_datos_cliente" class="form-horizontal" ng-submit="guardaDatos()">

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">T&iacute;tulo del video</label>
                                                    <div class="col-sm-10"><input type="text" tabindex=1 class="form-control" ng-model="video.titulo" required></div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Video URL</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" ng-model="video.url" required>
                                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-primary btn-labeled" ng-click="verPreview()"><span class="btn-label"><i class="fa fa-search"></i></span>Preview</button>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="hr-line-dashed"></div>

                                                <div class="form-group">
                                                    <div class="col-sm-10 col-sm-offset-2">
                                                            <div class="col-md-6">
                                                                <button class="btn btn-default btn-labeled" ng-click="cancelaForm()"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span> Cancelar</button>
                                                            </div>
        
                                                            <div class="col-md-6">
                                                                <button class="btn btn-primary btn-labeled" type="submit" ng-disabled="form_datos_cliente.$invalid"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span> {{txt_boton}}</button>
                                                            </div>
                                                    </div>
                                                </div>


                                        </form>
                                </div>
                        </div>
                </div>
                <div class="col-sm-5">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Preview</h5>
                            </div>
                            <div class="ibox-content no-padding">
                                <iframe width="485" height="389" ng-src="{{trustSrc(video_preview)}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                </div>

        </div>
</div>
