.grid-align {
    text-align: center;
}
.grid_edit_programa {
  width: 500px;
  height: 150px;
}
.grid-msg-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.grid-msg-overlay .msg {
  opacity: 1;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 50%;
  background-color: #eee;
  border-radius: 4px;
  border: 1px solid #555;
  text-align: center;
  font-size: 24px;
  display: table;
}

.grid-msg-overlay .msg > .center {
  display: table-cell;
  vertical-align: middle;
}

.grid_importar_carga {
  width: 500px;
  height: 200px;
}


.m-b-lg {
  margin-bottom: 15px;
}
.pointer {
    cursor: pointer;
}
.seleccion{
    background:rgb(225, 225, 225);
}
.panel_der-detail {
    position: relative;
    height: 490px;
}
.historico_panel_der-detail {
    position: relative;
    height: 220px;
}
.panel_programa_eventos-detail {
    position: relative;
    height: 550px;
}
.nav-header {
  padding: 23px 25px;
}
.clientes-detail {
    position: relative;
    height: 490px;
}
.stat-list-promedio_medidas li {
    margin-top: 9px;
}
.cuadro_medidas {
    width: 80px;
    /* width: 160px; */
    text-align: center;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}