<div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
                <div class="col-lg-9">
                        <div class="ibox float-e-margins">
                                <div class="ibox-content" style="height: 750px;">

                                            <div class="row">
                                                <div class="col-md-1">
                                                    <button type="button" class="btn btn-sm btn-success btn-labeled" ng-click="resetTabla()"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span> Borrar tabla</button>
                                                </div>
                                            </div>
                                            <div class="gridStyle" ui-grid="gridOptions" ui-grid-cellnav style="height: 600px;">
                                                    <div class="grid-msg-overlay" ng-show="!gridOptions.data.length">
                                                      <div class="msg">
                                                        <div class="center">
                                                          <span class="muted">Seleccione el archivo de excel a importar</span>
                                                          <br />
                                                            <span class="btn btn-info btn-sm btn-labeled btn-file"> 
                                                            <span class="btn-label"><i class="fa fa-file"></i></span>Abrir archivo
                                                                <input type="file" accept=".xls,.xlsx" fileread="" opts="gridOptions" multiple="false" />
                                                            </span>
                                                          
                                                        </div>
                                                      </div>
                                                    </div>
                                            </div> 

                                            <progress ng-hide="porcentaje_avance == 0"><bar value="porcentaje_avance"><span>{{porcentaje_avance}}%</span></bar></progress>
                                            
                                            <div class="hr-line-dashed"></div>

                                            <div class="form-group">
                                                <div class="col-sm-10 col-sm-offset-2">
                                                        <div class="col-md-6">
                                                            <button class="btn btn-default btn-labeled" ng-click="cancelaForm()"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span> Regresar</button>
                                                        </div>
    
                                                        <div class="col-md-6">
                                                            <button class="btn btn-primary btn-labeled" ng-click="guardaDatos()" ng-disabled="form_datos_cliente.$invalid"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span> Importar</button>
                                                        </div>
                                                </div>
                                            </div>

                                </div>
                        </div>
                </div>

        </div>
</div>
