<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Lista de alumnos</h2>

                    <div class="row">
                        <div class="col-sm-2">
                                <div class="mail-tools tooltip-demo m-t-md">
                                        <button class="btn btn-sm btn-primary btn-labeled" data-placement="left" title="Importar" ng-click="importarCarga()"><span class="btn-label"><i class="fa fa-plus"></i></span> Importar</button>
                                </div>
                        </div>
                        <div class="col-sm-10">
                                <div class="input-group" style="margin-top:16px;">
                                    <input type="text" ng-teclaenter="muestraResultadosBusqueda()" placeholder="Escriba el nombre de la persona" class="input form-control" ng-model="nombre_buscar" required>
                                            <span class="input-group-btn">
                                                    <button class="btn btn-primary btn-labeled" ng-click="muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar por nombre</button>
                                                    <button class="btn btn-success btn-labeled" ng-click="limpiaBusqueda()" ng-show="mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-times"></i></span> Limpiar</button>
                                            </span>
                                </div>
                        </div>
                    </div>

                    <div class="clients-list">
                            <table class="table table-condensed table-hover">
                              <thead>
                                <tr>
                                    <th>Clave</th>
                                    <th>Nombre</th>
                                    <th>Carrera</th>
                                    <th>Semestre</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="alumno in lista_alumnos" ng-click="muestraDatosRegistroSeleccionado(alumno)"  ng-class="{seleccion:$index==selectedRow}" class="pointer">
                                    <td> {{alumno.clave_alumno}}</td>
                                    <td> {{alumno.nombre_completo}}</td>
                                    <td> {{alumno.carrera}}</td>
                                    <td> {{alumno.semestre}}</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-5">
                                            <span class="pull-left medium text-muted" style="margin-top:22px;">Mostrando registros del {{(begin+1)}} al {{end}} de un total de {{totalItems}} registros</span>
                                </div>
                                <div class="col-sm-7">
                                        <pagination total-items="totalItems" ng-model="currentPage" previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="&Uacute;ltimo"
                                          max-size="5" boundary-links="true" ng-change="pageChanged()" 
                                          items-per-page="numPerPage" class="pagination-sm pull-right" rotate="false"> 
                                        </pagination>
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="ibox">
        
                <div class="ibox-content" style="height:750px">
                    <div class="tab-content">
        
                        <div class="tab-pane active" ng-show="client == 1" ng-init="client = 1">
                            <div class="row m-b-lg">
                            <div class="col-lg-10 text-center">
                                <h2>Seleccione un registro para ver los detalles</h2>
                            </div>
                            </div>
        
                            <div class="panel_der-detail">
                            </div>
                        </div>
        
                        <div class="tab-pane active" ng-show="client == 2">

                            <div class="panel blank-panel" style="height:500px;">
                                    <div class="full-height-scroll" full-scroll>
            
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>Materia</th>
                                                <th>L</th>
                                                <th>M</th>
                                                <th>M</th>
                                                <th>J</th>
                                                <th>V</th>
                                                <th>S</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="carga in DatosAlumnoActual.cargaAcademica">
                                                <td> {{$index + 1}}</td>
                                                <td> {{carga.materia}}</td>
                                                <td> {{carga.lunes}}</td>
                                                <td> {{carga.martes}}</td>
                                                <td> {{carga.miercoles}}</td>
                                                <td> {{carga.jueves}}</td>
                                                <td> {{carga.viernes}}</td>
                                                <td> {{carga.sabado}}</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        
                                    </div>
                            </div>
      
                        </div> <!-- client == 2 -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>