<div class="pages">
  <div data-page="articulos" class="page no-toolbar no-navbar">
    <div class="page-content">
    
         <div class="navbarpages">
              <div class="nav_left_logo"><a href="#" data-panel="left" class="open-panel"><img src="images/icons/iconos_menu_lat/botonmenu.png" alt="" title="" style="width: 35%;margin-top: 3%;" /></a></div>
              <div class="nav_center_text">Art&iacute;culos</div>
              <div class="nav_right_button"><a href="#" onclick="regresa_pag_principal();"><img src="images/icons/white/back.png" alt="" title="" /></a></div>
         </div>
         
          <div id="pages_maincontent">
                     
                     <div id="seccion_lista_articulos">
                           <div class="page_content"> 
                                  <div class="blog-posts">
                                        <ul id="lista_articulos" class="features_list_detailed">
                                            <span class="preloader"></span>
                                        </ul>
                                  </div>
                           </div>
                     </div>
          </div>
      
    </div>
  </div>
</div>