<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-7">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Lista de clasificaciones</h2>                    

                    <div class="row">
                        <div class="col-sm-2">
                                <div class="mail-tools tooltip-demo m-t-md">
                                        <button class="btn btn-sm btn-primary btn-labeled" data-placement="left" title="Agregar nuevo registro" ng-click="altaClasificacion()"><span class="btn-label"><i class="fa fa-plus"></i></span> Agregar</button>
                                </div>                            
                        </div>
                        <div class="col-sm-10">
                                <div class="input-group" style="margin-top:16px;">
                                    <input type="text" ng-teclaenter="muestraResultadosBusqueda()" placeholder="Escriba el texto a buscar" class="input form-control" ng-model="nombre_buscar" required>
                                            <span class="input-group-btn">
                                                    <button class="btn btn-primary btn-labeled" ng-click="muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar por nombre</button>
                                                    <button class="btn btn-success btn-labeled" ng-click="limpiaBusqueda()" ng-show="mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-times"></i></span> Limpiar</button>
                                            </span>
                                </div>
                        </div>
                    </div>
                    
                    <div class="clients-list">

                            <table class="table table-bordered table-condensed">
                              <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="clasificacion in clasificaciones">
                                    <td> {{clasificacion.nombre}}</td>
                                    <td style="width:170px">
                                            <button type="button" ng-click="modificarClasificacion(clasificacion)" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Editar</button> 
                                            <button type="button" ng-click="eliminaClasificacion(clasificacion)" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Eliminar</button>
                                    </td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-5">
                                            <span class="pull-left medium text-muted" style="margin-top:22px;">Mostrando registros del {{(begin+1)}} al {{end}} de un total de {{totalItems}} registros</span>
                                </div>
                                <div class="col-sm-7">
                                        <pagination total-items="totalItems" ng-model="currentPage" previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="&Uacute;ltimo"
                                          max-size="5" boundary-links="true" ng-change="pageChanged()" 
                                          items-per-page="numPerPage" class="pagination-sm pull-right" rotate="false"> 
                                        </pagination>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>

    

    </div>
</div>