<div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
                <div class="col-lg-5">
                        <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                        <form name="form_datos_cliente" class="form-horizontal" ng-submit="guardaDatos()">

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">T&iacute;tulo del art&iacute;culo</label>
                                                    <div class="col-sm-10"><input type="text" tabindex=1 class="form-control" ng-model="articulo.titulo" required></div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Descripci&oacute;n corta</label>
                                                    <div class="col-sm-10"><input type="text" tabindex=1 class="form-control" ng-model="articulo.descripcion" required></div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Imagen art&iacute;culo</label>

                                                    <div class="col-sm-10">
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                    <input type='file' ng-model='temp.img_principal' base-sixty-four-input accept="image/*" maxsize="150">
                                                                    <span ng-show="form.temp.img_principal.$error.maxsize">El archivo no debe exceder los 150 KB</span>
                                                                    <img style="margin-top:30px; width:400px;" base-sixty-four-image="temp.img_principal" alt="" ng-src="{{articulo.img_principal}}">
                                                            </div>

                                                            <div class="col-md-2">
                                                                    <button type="button" class="btn btn-danger" ng-click="borraFoto()">Borrar imagen</button>
                                                            </div>
            
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Activo</label>
                                                    <input ng-if="articulo.activo!==undefined" type="checkbox" class="js-switch" ui-switch="{color:'#1AB394', secondaryColor: '#F89279'}" checked ng-model="articulo.activo"/>
                                                </div>

                                                

                                                <div class="hr-line-dashed"></div>

                                                <div class="form-group">
                                                    <div class="col-sm-10 col-sm-offset-2">
                                                            <div class="col-md-6">
                                                                <button class="btn btn-default btn-labeled" ng-click="cancelaForm()"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span> Cancelar</button>
                                                            </div>
        
                                                            <div class="col-md-6">
                                                                <button class="btn btn-primary btn-labeled" type="submit" ng-disabled="form_datos_cliente.$invalid"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span> {{txt_boton}}</button>
                                                            </div>
                                                    </div>
                                                </div>


                                        </form>
                                </div>
                        </div>
                </div>

                <div class="col-sm-5">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Editor de contenido</h5>
                            </div>
                            <div class="ibox-content no-padding">

                                <div summernote class="summernote" ng-model="articulo.contenido">
                                </div>

                            </div>
                        </div>
                </div>

        </div>
</div>
