<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-7">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Lista de art&iacute;culos</h2>

                    <div class="row">
                        <div class="col-sm-2">
                                <div class="mail-tools tooltip-demo m-t-md">
                                        <button class="btn btn-sm btn-primary btn-labeled" data-placement="left" title="Agregar nuevo registro" ng-click="altaRegistro()"><span class="btn-label"><i class="fa fa-plus"></i></span> Agregar</button>
                                </div>
                        </div>
                        <div class="col-sm-10">
                                <div class="input-group" style="margin-top:16px;">
                                    <input type="text" ng-teclaenter="muestraResultadosBusqueda()" placeholder="Escriba el nombre del articulo" class="input form-control" ng-model="nombre_buscar" required>
                                            <span class="input-group-btn">
                                                    <button class="btn btn-primary btn-labeled" ng-click="muestraResultadosBusqueda()"><span class="btn-label"><i class="fa fa-search"></i></span> Buscar por nombre</button>
                                                    <button class="btn btn-success btn-labeled" ng-click="limpiaBusqueda()" ng-show="mostrarbtnLimpiar"><span class="btn-label"><i class="fa fa-times"></i></span> Limpiar</button>
                                            </span>
                                </div>
                        </div>
                    </div>
                    

                    <div class="clients-list">
                            <table class="table table-condensed table-hover">
                              <thead>
                                <tr>
                                    <th>T&iacute;tulo</th>
                                    <th>Fecha</th>
                                    <th>Estatus</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="articulo in lista_articulos" ng-click="muestraDatosRegistroSeleccionado(articulo)"  ng-class="{seleccion:$index==selectedRow}" class="pointer">
                                    <td> {{articulo.titulo}}</td>
                                    <td> {{articulo.fecha | date:'d/MMMM/yyyy h:mm a'}}</td>
                                    <td class="client-status"><span class="label label-{{articulo.activo === true ? 'primary' : 'warning'}}">{{articulo.activo === true ? 'Activo' : 'Inactivo'}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="row">
                                <div class="col-sm-5">
                                            <span class="pull-left medium text-muted" style="margin-top:22px;">Mostrando registros del {{(begin+1)}} al {{end}} de un total de {{totalItems}} registros</span>
                                </div>
                                <div class="col-sm-7">
                                        <pagination total-items="totalItems" ng-model="currentPage" previous-text="Anterior" next-text="Siguiente" first-text="Primero" last-text="&Uacute;ltimo"
                                          max-size="5" boundary-links="true" ng-change="pageChanged()" 
                                          items-per-page="numPerPage" class="pagination-sm pull-right" rotate="false"> 
                                        </pagination>
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ibox ">
        
                <div class="ibox-content" style="height:800px">
                    <div class="tab-content">
        
                        <div class="tab-pane active" ng-show="client == 1" ng-init="client = 1">
                            <div class="row m-b-lg">
                            <div class="col-lg-10 text-center">
                                <h2>Seleccione un registro para ver los detalles</h2>
                            </div>
                            </div>
        
                            <div class="gimnasios-detail">
                            </div>
                        </div>
        
                        <div class="tab-pane active" ng-show="client == 2">

                                        <div class="row m-b-lg">
                                            <div class="col-md-12" style="text-align:center;">
                                                <p>
                                                    <button type="button" ui-sref="index.edita_articulo({ id: DatosRegistroActual.id })" class="btn btn-primary btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pencil"></i></span> Editar los datos</button>
                                                    <button type="button" ng-show="DatosRegistroActual.activo" ng-click="desactivarRegistro(DatosRegistroActual)" class="btn btn-warning btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-pause"></i></span> Desactivar art&iacute;culo</button>
                                                    <button type="button" ng-show="!DatosRegistroActual.activo" ng-click="activarRegistro(DatosRegistroActual)" class="btn btn-success btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-play"></i></span> Activar art&iacute;culo</button>
                                                    <button type="button" ng-click="eliminaArticulo(DatosRegistroActual)" class="btn btn-danger btn-sm btn-labeled"><span class="btn-label"><i class="fa fa-trash-o"></i></span> Eliminar art&iacute;culo</button>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="panel blank-panel" style="height:700px;">
                                                <div class="full-height-scroll" full-scroll>

                                                        <div>
                                                            <div class="ibox-content no-padding border-left-right" style="width: 481px">
                                                                <img alt="image" class="img-responsive" ng-src="{{DatosRegistroActual.img_principal == '' && 'img/placeholder.png' || DatosRegistroActual.img_principal}}">
                                                            </div>
                                                            <div class="ibox-content profile-content">
                                                                <h2><strong>{{DatosRegistroActual.titulo}}</strong></h2>
                                                                <h4><strong>{{DatosRegistroActual.descripcion}}</strong></h4>

                                                                <p><i class="fa fa-calendar"></i> {{DatosRegistroActual.fecha | date:'d/MMMM/yyyy h:mm a'}}</p>

                                                                <p ng-bind-html="DatosRegistroActual.contenido"></p>

                                                            </div>
                                                        </div>
                                                </div>

                                        </div>

      
                        </div> <!-- client == 2 -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>