<div style="width:100%; height:900px;" class="gray-bg">

        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <div>

                    <h1 class="logo-name">UT Movil</h1>

                </div>
                <h3>Admin App</h3>
                <form class="m-t" role="form" ng-submit="login()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" required="" ng-model="user.username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="" ng-model="user.password">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                    
                    <div ng-show="msg_error_login" class="alert alert-danger">El nombre de usuario no existe o contraseña incorrecta</div>
                    
                </form>
            </div>
        </div>

</div>
