<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold" ng-show="currentUser">{{currentUser.nombre}}</strong>
                                </span>
                                <span class="text-muted text-xs block">{{currentUser.campus_nombre}}</span>
                            </span>
                    </a>
                </div>
                <div class="logo-element">
                    
                </div>

            </li>

            <li ui-sref-active="active" ng-if="currentUser.perfil == 'admin'">
                <a ui-sref="index.lista_eventos"><i class="fa fa-home"></i> <span class="nav-label">Eventos</span></a>
            </li>
            <li ui-sref-active="active" ng-if="currentUser.perfil == 'admin'">
                <a ui-sref="index.lista_articulos"><i class="fa fa-home"></i> <span class="nav-label">Art&iacute;culos</span></a>
            </li>

            <li ng-class="{active: $state.includes('oferta_ed')}" ng-if="currentUser.perfil == 'admin'">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Oferta Educativa</span> <span class="fa arrow"></span></a>
                
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('oferta_ed')}">

                        <li ui-sref-active="active" ng-if="currentUser.perfil == 'admin'">
                            <a ui-sref="oferta_ed.modalidades"><i class="fa fa-book"></i> <span class="nav-label" style="display:inline-block;width:80%;vertical-align:middle;">Modalidades de las carreras</span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil == 'admin'">
                            <a ui-sref="oferta_ed.carreras"><i class="fa fa-book"></i> <span class="nav-label">Carreras</span></a>
                        </li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('galerias')}" ng-if="currentUser.perfil == 'admin'">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Galer&iacute;as</span> <span class="fa arrow"></span></a>
                
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('galerias')}">

                        <li ui-sref-active="active" ng-if="currentUser.perfil == 'admin'">
                            <a ui-sref="galerias.lista_fotos"><i class="fa fa-home"></i> <span class="nav-label">Fotos</span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil == 'admin'">
                            <a ui-sref="galerias.lista_videos"><i class="fa fa-home"></i> <span class="nav-label">Videos</span></a>
                        </li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('utrm_conectado')}" ng-if="currentUser.perfil == 'admin'">
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">UTRM Conectado</span> <span class="fa arrow"></span></a>
                
                <ul class="nav nav-second-level" ng-class="{in: $state.includes('utrm_conectado')}">

                        <li ui-sref-active="active" ng-if="currentUser.perfil == 'admin'">
                            <a ui-sref="utrm_conectado.clasif_utrm_conectado"><i class="fa fa-home"></i> <span class="nav-label">Clasificaciones</span></a>
                        </li>
                        <li ui-sref-active="active" ng-if="currentUser.perfil == 'admin'">
                            <a ui-sref="utrm_conectado.lista_videos_utrm_conectado"><i class="fa fa-home"></i> <span class="nav-label" style="display:inline-block;width:80%;vertical-align:middle;">Videos UTRM Conectado</span></a>
                        </li>
                </ul>
            </li>



            <li ui-sref-active="active" ng-if="currentUser.perfil == 'admin'">
                <a ui-sref="index.carga_academica"><i class="fa fa-home"></i> <span class="nav-label" style="display:inline-block;width:80%;vertical-align:middle;">Carga acad&eacute;mica de los alumnos</span></a>
            </li>


        </ul>

    </div>
</nav>