<div class="row border-bottom">
    <!-- <nav class="navbar navbar-fixed-top white-bg" role="navigation" style="margin-bottom: 0"> -->
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            
            <span minimaliza-sidebar></span>
            <div class="navbar-form-custom" style="width:400px;">
                    <div class="col-lg-12">
                        <h2>{{main.titulo_seccion}}</h2>
                    </div>
            </div>
            <!-- <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form> -->
            
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a ui-sref="mi_perfil">
                    <i class="fa fa-user"></i> Mi perfil
                </a>
            </li>
            <li>
                <a ui-sref="logout">
                    <i class="fa fa-sign-out"></i> Cerrar sesi&oacute;n
                </a>
            </li>
        </ul>
    </nav>
</div>