<div class="pages">
  <div data-page="carga_academica" class="page no-toolbar no-navbar">
    <div class="page-content">
    
         <div class="navbarpages">
              <div class="nav_left_logo"><a href="#"><img src="images/colors/turquoise/logoheader.png" alt="" title="" /></a></div>
              <div class="nav_center_text">Mi carga acad&eacute;mica</div>
              <div class="nav_right_button"><a href="#" onclick="regresa_pag_principal();"><img src="images/icons/white/back.png" alt="" title="" /></a></div>
         </div>

         <div id="pages_maincontent">
        
              <div class="page_content">
              
                  <div class="buttons-row">
                        <a id="tl_1" href="#tab_1" onclick="carga_materias_dia(1);" class="tab-link active button">L</a>
                        <a id="tl_2" href="#tab_2" onclick="carga_materias_dia(2);" class="tab-link button">M</a>
                        <a id="tl_3" href="#tab_3" onclick="carga_materias_dia(3);" class="tab-link button">M</a>
                        <a id="tl_4" href="#tab_4" onclick="carga_materias_dia(4);" class="tab-link button">J</a>
                        <a id="tl_5" href="#tab_5" onclick="carga_materias_dia(5);" class="tab-link button">V</a>
                        <a id="tl_6" href="#tab_6" onclick="carga_materias_dia(6);" class="tab-link button">S</a>
                        <a id="tl_0" href="#tab_0" onclick="carga_materias_dia(0);" class="tab-link button">D</a>
                  </div>
                  
                  <div class="tabs-animated-wrap">
                        <div class="tabs">
                              <div id="tab_1" class="tab active">
                              </div>
                              <div id="tab_2" class="tab">
                              </div> 
                              <div id="tab_3" class="tab">
                              </div> 
                              <div id="tab_4" class="tab">
                              </div> 
                              <div id="tab_5" class="tab">
                              </div> 
                              <div id="tab_6" class="tab">
                              </div> 
                              <div id="tab_0" class="tab">
                              </div> 
                        </div>
                  </div>
              </div>     
         
          </div>
      
    </div>
  </div>
</div>