<div class="pages">
  <div data-page="detalle_articulo" class="page no-toolbar no-navbar">
    <div class="page-content">
    
         <div class="navbarpages">
              <div class="nav_left_logo"><a href="#"><img src="images/colors/turquoise/logoheader.png" alt="" title="" /></a></div>
              <div class="nav_center_text">Evento</div>
              <div class="nav_right_button"><a href="index.html"><img src="images/icons/white/back.png" alt="" title="" /></a></div>
         </div>

         <div id="pages_maincontent" class="evento_bloque_sup" style="top:50px;background-image:url('images/colors/turquoise/fondo.jpg');background-repeat:repeat;overflow-y: hidden;">
              <div class="post_single">

                    <div class="featured_image">
                        <img id="img_articulo_principal" src="images/post_photo.jpg" alt="" title="" />
                        <div class="post_social">
                        <a href="#" data-popup=".popup-social" class="open-popup"><img src="images/icons/white/heart.png" alt="" title="" /></a>
                        </div> 
                    </div>

                    <div class="page_content" style="margin: 10px 0 10px 0;"> 
                        <h1 id="txt_titulo" style="font-size: 19px;margin-bottom: 15px;"></h1>
                        <span style="height: 25px; width:100%;"><img src="images/icons/black/map.png" width="17" height="17" alt="" title="" align='left'/> <h2 id="txt_ubicacion" style="margin-left:30px;"></h2></span>
                        <span style="height: 25px; width:100%;"><img src="images/icons/black/blog.png" width="17" height="17" alt="" title="" align='left'/> <h2 id="txt_fechas" style="margin-left:30px;"></h2></span>
                    </div>

                  <div class="buttons-row" style="margin: 0 10px;">
                        <a href="#tab1" class="tab-link active button">Descripci&oacute;n</a>
                        <a href="#tab2" class="tab-link button">Programa</a>
                        <a href="#tab3" class="tab-link button">Mapa del sitio</a>
                  </div>
              </div>
         </div>

         <div id="pages_maincontent" class="evento_bloque_inf" style="background-image:url('images/colors/turquoise/fondo.jpg');background-repeat:repeat;">
              <div class="post_single">
                  <div class="tabs-animated-wrap" style="margin: 10px 10px 0 10px; width: 95%;">
                        <div class="tabs">
                              <div id="tab1" class="tab active">
                              </div>

                              <div id="tab2" class="tab">
                              </div> 

                              <div id="tab3" class="tab">
                              </div>
                        </div>
                  </div>
              </div>
        </div>

    </div>
  </div>
</div>