<div class="pages">
  <div data-page="detalle_articulo" class="page no-toolbar no-navbar">
    <div class="page-content">
    
         <div class="navbarpages">
              <div class="nav_left_logo"><a href="#"><img src="images/colors/turquoise/logoheader.png" alt="" title="" /></a></div>
              <div class="nav_center_text">Art&iacute;culo</div>
              <div class="nav_right_button"><a href="index.html"><img src="images/icons/white/back.png" alt="" title="" /></a></div>
         </div>

         <div id="pages_maincontent">
          
              <div class="post_single">

                    <div class="featured_image">
                        <img id="img_articulo_principal" src="images/post_photo.jpg" alt="" title="" />
                        <div id="txt_titulo" class="post_title_single"></div>
                        <div class="post_social">
                        <a href="#" data-popup=".popup-social" class="open-popup"><img src="images/icons/white/heart.png" alt="" title="" /></a>              
                        </div> 
                    </div>
                         
                    <div id="txt_contenido" class="page_content"> 
                    </div>
                
              </div>

        </div>
    </div>
  </div>
</div>