<div class="pages">
  <div data-page="eventos" class="page no-toolbar no-navbar">
    <div class="page-content">
    
         <div class="navbarpages">
              <div class="nav_left_logo"><a href="#" data-panel="left" class="open-panel"><img src="images/icons/iconos_menu_lat/botonmenu.png" alt="" title="" style="width: 35%;margin-top: 3%;" /></a></div>
              <div class="nav_center_text">Eventos</div>
              <div class="nav_right_button"><a href="#" onclick="regresa_pag_principal();"><img src="images/icons/white/back.png" alt="" title="" /></a></div>
         </div>
         
          <div id="pages_maincontent" style="background: #0a5545;">

                     <div id="lista_eventos" style="margin-top: 10px;">
                     </div>
                     
          </div>
      
    </div>
  </div>
</div>