<div class="pages">
  <div data-page="galeria" class="page no-toolbar no-navbar">
    <div class="page-content">
    
         <div class="navbarpages">
              <div class="nav_left_logo"><a href="#" data-panel="left" class="open-panel"><img src="images/icons/iconos_menu_lat/botonmenu.png" alt="" title="" style="width: 35%;margin-top: 3%;" /></a></div>
              <div class="nav_center_text">Galer&iacute;a</div>
              <div class="nav_right_button"><a href="#" onclick="regresa_pag_principal();"><img src="images/icons/white/back.png" alt="" title="" /></a></div>
         </div>

         <div id="pages_maincontent">
                  <br>
                  <div class="buttons-row" style="width:90%; padding: 0 5%;">
                        <a href="#tab1" class="tab-link active button">Fotos</a>
                        <a href="#tab2" class="tab-link button">Videos</a>
                  </div>
          
                  <div class="tabs-simple">
                        <div class="tabs">
                              <div id="tab1" class="tab active">
                                    <div class="page_title_photos">
                                             <h2>Vistas</h2>
                                             <div class="gallery_switch">        
                                              <!-- <a href="#" id="view13" class="switcher active"><img src="images/switch_13_active.png" alt="Grid"></a> -->
                                              <a href="#" id="view12" class="switcher active"><img src="images/switch_12_active.png" alt="Grid"></a>
                                              <a href="#" id="view11" class="switcher"><img src="images/switch_11.png" alt="List"></a>
                                            </div>
                                    </div>

                                    <div class="photos_tabs">
                                         <ul id="photoslist" class="photo_gallery_12">
                                          </ul>   
                                    </div>
                              </div>
        
                              <div id="tab2" class="tab">
                                    <div id="listaVideos" class="page_content"></div>
                              </div> 
                        </div>
                  </div>
             

         </div>
         <div class="clearleft"></div> 
         
      
    </div>
  </div>
</div>