<div class="pages">
  <div data-page="videos_utrm" class="page no-toolbar no-navbar">
    <div class="page-content">
    
         <div class="navbarpages">
              <div class="nav_left_logo"><a href="#" data-panel="left" class="open-panel"><img src="images/icons/iconos_menu_lat/botonmenu.png" alt="" title="" style="width: 35%;margin-top: 3%;" /></a></div>
              <div class="nav_center_text">UTRM conectado</div>
              <div class="nav_right_button"><a href="#" onclick="regresa_pag_principal();"><img src="images/icons/white/back.png" alt="" title="" /></a></div>
         </div>
         
         <!-- <div id="pages_maincontent" style="background-image:url('images/colors/turquoise/fondo.jpg');background-repeat:repeat;"> -->
         <div id="pages_maincontent">
              <h2 class="page_title">Secciones</h2>

              <div class="contactform">
                  <select id="lista_secciones_utrm" class="form_select" onchange="carga_videos_utrm(this.value)">
                  </select>
              </div>

              <div id="listaVideosUTRM" class="page_content"></div>
         </div>

    </div>
  </div>
</div>